.card-home{
    object-fit: cover;
    width: 100%;
}

.stack{
    background-color: #00264D;
    position: relative;
    padding: 2%;
}

.button-home{
    position: relative;
    left: 63em;
}

#signup-button{
    width: 90px;
}

#login-button{
    width: 90px;
}

#login-page-title{
    position: relative;
    left: 45%;
}

#form-login{
    position: relative;
    left: 1%;
}

#topic-navbar{
    position: relative;
    left: 1%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#image-people{
    position: absolute;
    left: 93%;
}