.card-home{
    object-fit: cover;
    width: 100%;
}

.stack{
    background-color: #00264D;
    position: relative;
    padding: 2%;
}

.button-home{
    position: relative;
    left: 63em;
}

#signup-button{
    position : relative;
    top : 5%;
    left: 50em;
    width: 90px;
}

#login-button{
    position : relative;
    top : 5%;
    left: 50em;
    width: 90px;
}

#login-page-title{
    position: relative;
    left: 45%;
}

#form-login{
    position: relative;
    left: 1%;
}

#topic-navbar{
    position: relative;
    left: 1%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#image-people{
    position: absolute;
    left: 93%;
}

#label-search{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#search-form{
    position: relative;
    left: 20%;
    bottom: 3px;
}

#userid-navbar{
    position: absolute;
    left: 86%;
    bottom: 21px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}

#additem-button{
    position: absolute;
    left: 57em;
    top: 35px;
}

#image{
    word-wrap: break-word;
}

#table-number{
    position: relative;
    left: 2%;
}

#button-get-items{
    position: absolute;
    left : 64em;
    top : 34px;
}

.table{
    position: absolute;
    table-layout: fixed;
}

.td-index{

    word-wrap: break-word;
}

.td-name{
    word-wrap: break-word;
}

.td-description{
    word-wrap: break-word;
}

.td-image{
    overflow: scroll;
}

.td-price{
    word-wrap: break-word;
}

.td-created{
    column-span: 5px;
    word-wrap: break-word;
}

.tr-table{
    border: 1px solid grey;
    max-width: fit-content;
}

.form-buy{
    position: absolute;
    top: 10px;
    left: 25em;
}

.form-buy .label-buy{
    color: white;
    font-family: 'Montserrat', sans-serif;
}